<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
 
 <LINK href="/theme/Master.css" rel="stylesheet"type="text/css">
<title>images of xxx</title>
 
   
   
    <style type="text/css">
        .style1
        {
            text-align: center;
        }
    </style>
 
   
   
</head>
<body>

    <p>
        &nbsp;</p>
    <h1 class="style1">
        xxx:<br />
        Images<br />
        </h1>
    
    <blockquote>
    <h3>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vS0DelntFriTwYL20gml99_eo21Zs7SgyoUi0bFX39H-EFOjsm0sOI84yH7Wis0_O3svoHTOl79sbfF/pub?start=true&amp;loop=false&amp;delayms=5000" target="ee5">Early</a>
    </h3>
   
        <blockquote>
            Images from September, 2022, show early stages of the project, before 
            significant site preparation was begun and before significant plantings of 
            native species. </blockquote>
    <h3>
        <a href="https://docs.google.com/presentation/d/e/2PACX-1vSgri6q8xqXCn6J_T9TqpM5VqxfyZs8GfPOtFW3AnIdlXltoIt9TnKDVwoD7uTdjkBY8GFkhembM9Le/pub?start=true&amp;amp;loop=false&amp;amp;delayms=5000" target="ee5">
        Removing Invasives &amp; Preparing Site</a>
    </h3>
    <blockquote>
        Images from April, 2023, show results of 
        work to remove invasives from the site.</blockquote>

    </blockquote>
    <p class="style1">
        &nbsp;</p>

</body>
</html>
